# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# --- IDE Specifics ---
.idea/
# But allow the team to share these specific configs:
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/vcs.xml

# --- Build Artifacts ---
cmake-build-*/
build/
compile_commands.json
*.log
# If using SPDK/DPDK, ignore the massive generated hugepage files
hugepages/*

.DS_Store