---
InheritParentConfig: true

CheckOptions:
  - key: readability-identifier-naming.MethodIgnoredRegexp
    value: '^(paintEvent|closeEvent|resizeEvent|showEvent|sizeHint|minimumSizeHint|event)$'
...
